<section class="page-header">
	<img src="/images/logo.svg" width="50%">
	{% comment %} <h1 class="project-name">{{ site.title }}</h1> {% endcomment %}
	<h2 class="project-tagline">{{ site.tagline }}</h2>
	<a href="/index" class="btn">Home</a>
	<a href="/client" class="btn">Client</a>
	<a href="/scenarios" class="btn">Scenarios</a>
	<a href="/manual" class="btn">Manual</a>
	<a href="/specification" class="btn">Specification</a>
	<a href="/architecture" class="btn">Architecture</a>
	<a href="/requirements" class="btn">Requirements</a>
	<a href="/developer" class="btn">Developer</a>
	<a href="/team" class="btn">Team Members</a>
</section>